html, body {
    background-image: url(./cool1.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.twitter {
    color: rgb(19, 109, 200);
    font-size: 50px;
    margin-bottom: 30px;
}

.instagram {
    color: rgb(205, 44, 100);
    font-size: 50px;
    margin-bottom: 30px;
}

.whatsapp {
    color: rgb(41, 185, 41);
    font-size: 50px;
    margin-bottom: 30px;
}

.github {
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}

.social :hover {
    color: rgb(196, 239, 5);
}

.social-media {
    align-items: flex-end;
    
}

.wrapper {
    text-align: end;
    margin: 0 200px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: ff00ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;

}
h1, h2{
    color: blue;
}